<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.nokia.ddv_7_2"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+Nokia/Daredevil_00EEA/DDV_sprout*"
                android:priority="413"
                android:isStatic="true" />
</manifest>
